body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #40514e;
}

h1,
h2,
h3,
h4 {
  margin: 25px auto;
}

a {
  color: #40514e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.navbar {
  background-color: #11999e;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
}

#home {
  text-align: left;
  padding: 0 50px 300px;
  background-color: #11999e;
  color: #eaf6f6;
}

.brief-intro {
  padding-top: 200px;
}

.wireframe-pic {
  float: right;
  width: 50%;
  margin-left: 30px;
}

#about {
  padding: 100px 0px 200px;
  background-color: #eaf6f6;
}

.profile-pic {
  width: 150px;
  margin: 30px auto;
}
.about-content {
  margin: 0 25%;
  margin-top: 10px;
  line-height: 1.5;
}

#projects {
  color: #eaf6f6;
  background-color: #11999e;
  padding: 100px 0px 120px;
}

.project-details {
  margin: 30px 25% 60px;
  line-height: 2;
}

.link-at-coloured {
  color: #40514e;
}

.carousel-item {
  padding: 50px 0px 50px;
}

.project-link {
  margin: 0 5%;
  font-size: 1.25rem;
  font-weight: bold;
}

.contact-top-container {
  padding: 200px 0;
  background-color: #eaf6f6;
}

.contact-form {
  margin: 0 100px;
}

.label {
  margin-top: 30px;
  margin-right: 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 1px 3px 0 #000000;
  -moz-box-shadow: 1px 1px 3px 0 #000000;
  box-shadow: 1px 1px 3px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 30px auto;
}

.btn:hover {
  border: solid #30e3cb 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

.contact-bottom-container {
  background-color: #11999e;
  padding: 50px 0 20px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .wireframe-pic {
    display: none;
  }
}